doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')  
    title= "微信公众平台"
    link(rel="stylesheet",href="/assets/stylesheets/bootstrap.min.css")
    link(rel="stylesheet",href="/assets/stylesheets/index.css")
  body
    .container
      h3.txt 扫描二维码登录
      div#login-qrcode.txt
      input(type='hidden',value="#{clientId}",id='clientId')
      p.info.txt= error

    script(src="/assets/scripts/index.js")

