extends ./layout
block css
  link(rel="stylesheet",href="/assets/stylesheets/task.css")

block content 
  .row
    .col-lg-12
      .panel.panel-default
        .panel-heading Realtime task tracer
        .panel-body
          form
            .form-group.row
              label.col-sm-2.form-control-label TaskName
              .col-sm-10
                input#task-name.form-control(type="text",placeholder="input the task name you wanna trace")
          button.btn.btn-default.start-trace(type='button') OK 

block js
  script(src="/assets/scripts/index.js")
