extends ./layout
block css
  link(rel="stylesheet",href="/assets/stylesheets/task.css")

block content 
  .row
    .col-lg-12
      .panel.panel-default
        .panel-heading task information
        .panel-body
          table.table-hover
            tr
              th Name
              th State
              th Active Nodes
            tr
              td.tname= name
              td.tstate unknown
              td.tsourceNum 0
          hr
          ul.list-inline.workers-list
          
  .terminals

  .modal.fade#myModal(tabindex='-1',role='dialog')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type="button",data-dismiss="modal",aria-label="Close")
            span(aria-hidden="true") &times;
          h4.modal-title Node:-
        .modal-body
          form
            .form-group
              lable Command:
              pre.modal-cmd -
        .modal-footer
          button.btn.btn-default(data-dismiss='modal',type='button') OK

block js
  script(src="/assets/scripts/task.js")
