extends ./layout
block css
  link(rel="stylesheet",href="/assets/stylesheets/task.css")

block content 
  .row
    .col-lg-12
      .panel.panel-default
        .panel-heading 任务信息
        .panel-body
          table.table-hover
            tr
              th 任务名称
              th 状态
              th 活动节点(个)
            tr
              td.tname= name
              td.tstate unknown
              td.tsourceNum 0
          hr
          ul.list-inline.workers-list
          
  .terminals

  .modal.fade#myModal(tabindex='-1',role='dialog')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type="button",data-dismiss="modal",aria-label="Close")
            span(aria-hidden="true") &times;
          h4.modal-title 节点:-
        .modal-body
          form
            .form-group
              lable 命令内容:
              pre.modal-cmd -
        .modal-footer
          button.btn.btn-default(data-dismiss='modal',type='button') 确定

block js
  script(src="/assets/scripts/task.js")